@import '@/styles/_variables.scss';

.wrapper {
    background-color: #f5f5fa;
    &-content {
        width: 1280px;
        margin: 0 auto;

        @media (max-width: $breakpoint-xl) {
            width: 95%;
            padding: 0 20px;
        }

        @media (max-width: $breakpoint-md) {
            width: 100%;
            padding: 0 15px;
        }
    }
    .pagination {
        padding-bottom: 8px;
    }
}
