//shipping information
.shipping-info {
    border-radius: 4px;
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    padding: 16px;
    background-color: rgb(255, 255, 255);
}

.block-header {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 12px;
}

.block-header-title {
    color: rgb(128, 128, 137);
    font-weight: normal;
    margin: 0px;
}

.block-header-nav {
    color: var(--primary-color);
    text-decoration: none;
}

.customer_info {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(56, 56, 61);
    margin-bottom: 2px;
    font-weight: 600;

    & i {
        display: block;
        width: 1px;
        height: 20px;
        background-color: rgb(235, 235, 240);
        margin: 0px 8px;
    }
}

.customer_info__name {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.customer_info__phone {
    margin: 0px;
    word-break: break-word;
}

.address {
    color: rgb(128, 128, 137);
    font-weight: normal;
}

.address__type {
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 0px 6px;
    border-radius: 100px;
    margin-right: 4px;
    height: 18px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
}

.address__type--home {
    color: rgb(0, 171, 86);
    background-color: rgb(239, 255, 244);
}
