.filter-list-container {
    margin-bottom: 20px;
}

.filter-content {
    background-color: var(--white-color);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.filter-section {
    display: flex;
    align-items: center;

    &:first-child {
        padding-bottom: 8px;
        border-bottom: 1px solid #ddd;
    }

    &:nth-last-child(1) {
        padding-top: 8px;
    }

    h3 {
        margin-right: 12px;
        font-size: 1.4rem;
        color: #7292a7;
    }
}

.brand-list {
    display: flex;
    justify-content: space-between;

    .brand-item-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline-block;
        font-size: 1.4rem;
        color: var(--text-color);
        font-weight: 500;
        padding: 10px 0;
    }
}
