.filter-list-container {
    margin-bottom: 20px;
}

.filter-content {
    background-color: var(--white-color);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.filter-section {
    display: flex;
    align-items: center;

    &:first-child {
        padding-bottom: 8px;
        border-bottom: 1px solid #ddd;
    }

    &:nth-last-child(1) {
        padding-top: 8px;
    }

    h3 {
        margin-right: 12px;
        font-size: 1.4rem;
        color: #7292a7;
    }
}

.brand-list {
    display: flex;
    justify-content: space-between;

    .brand-item-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        display: inline-block;
        font-size: 1.4rem;
        color: var(--text-color);
        font-weight: 500;
        padding: 10px 0;
    }
}

.select-input {
    position: relative;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    min-width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.select-input__label {
    font-size: 14px;
}

.select-input__icon {
    color: rgba(131, 131, 131);
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 36px;
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 10;
}

.select-input__list::after {
    content: '';
    width: 100%;
    height: 20px;
    top: -10px;
    left: 0;
    position: absolute;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__link {
    font-size: 13px;
    color: var(--text-color);
    text-decoration: none;
    padding: 4px 0;
    background-color: #fff;
    border: none;
}

.select-input__link:hover {
    color: var(--black-color);
}
