.banner-slider {
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0 auto;

    .banner-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .slick-dots {
        bottom: 10px;

        li button:before {
            font-size: 12px;
        }

        li.slick-active button:before {
            color: var(--primary-color);
        }
    }
}
