.title-search {
    padding: 20px 0px 10px 0px;
    font-size: 1.8rem;
    color: #333333;
    font-weight: 700;
}

.text-center {
    font-size: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px 100px;
    color: #333333;
}

.product-search {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 50px;
}
