.wrapper {
    width: 1349px;
    background-color: var(--background-color);
}

.list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.see_more_button {
    background-color: var(--background-color);
    display: flex;
    justify-content: center;
    width: 100%;
}
